*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: blue;
}
.logo
{
    max-width: 1200px;
    margin-left: 250px;
    display: flex;
    align-items: center;
}
.logo img
{
    width:120px;
}
.Menu
{
    width: 100%;
    height: 70px;
    background-color: crimson;
    padding: 0px 20px;
}
.Menu2
{
    max-width: 1200px;
    margin-left: 250px;
    height: 100%;
}
nav
{
    height: 100%;
}
nav >ul
{
    height: 100%;
    display: flex;
}
nav > ul > li
{
    height: 100%;
    list-style: none;
    position: relative;
    padding-left: 50px;
}
nav > ul > li:first-child > a {
    background-image: url(./img/home.png);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 5px 40px;
    padding-left: 20px;
}

nav > ul > li > a
{
    width: 100%;
    height: 100%;
    display: flex;
    color: azure;
    align-items: center;
    padding: 5px;
    font-size: 20px;
    transition: all 30ms ease;
}
nav > ul > li > a:hover{
    transform: scale(0,5.0,5);
    background-color: darkred;
    box-shadow: 0px 0px 10px 0px rgba(0, 0,0, 5);
}

p{
    margin-top: -28%;
    margin-left: 40%;
    margin-right: -100%;
    width: 41%;
    color:black;
    font-family: 'Times New Roman', Times, serif;
    font-size:x-large;
    


    
}
img{
    margin-top: 5%;
    margin-left: 10%; 
}
img.logo{
  margin-top: -65%;
    height: 80px;
     
    
    padding: 0px;
    margin: 1px;
    margin-left: 45%;
    
    position: absolute;

}
 #entrenador {
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: -60%;
    margin-left: 60%;
    width: 20%;
    font-size: x-large;
    line-height: 50px;
    
}
section{
    background-color: aliceblue;
}
img.metapdod{
    height: 400px;
    width: 400px;
}
#pokm{
    margin-left: 180px;
    margin-top: 500px;
}
#imgtoko img{

    height: 400px;
    width: 400px;
    margin-top: 300px;

}
