
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: blue;
}
.logo
{
    max-width: 1200px;
    margin-left: 250px;
    display: flex;
    align-items: center;
}
.logo img
{
    width:120px;
}
.Menu
{
    width: 100%;
    height: 70px;
    background-color: crimson;
    padding: 0px 20px;
}
.Menu2
{
    max-width: 1200px;
    margin-left: 250px;
    height: 100%;
}
nav
{
    height: 100%;
}
nav >ul
{
    height: 100%;
    display: flex;
}
nav > ul > li
{
    height: 100%;
    list-style: none;
    position: relative;
    padding-left: 50px;
}
nav > ul > li:first-child > a {
    background-image: url(./img/home.png);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 5px 40px;
    padding-left: 20px;
}

nav > ul > li > a
{
    width: 100%;
    height: 100%;
    display: flex;
    color: azure;
    align-items: center;
    padding: 5px;
    font-size: 20px;
    transition: all 30ms ease;
}
nav > ul > li > a:hover{
    transform: scale(0,5.0,5);
    background-color: darkred;
    box-shadow: 0px 0px 10px 0px rgba(0, 0,0, 5);
}

main{
    background-color: azure;
    padding: 40px 20px;
    margin-top: 200px;
    margin-left: 100px;
}
article{
    max-width: 1200px;
    margin: 20px auto;
    padding: 40px;
    background-color: azure;
}
article h1
{
    margin-top: 20px;
    font-size: 18px;
    font-weight: 300;
}
article img
{
    margin-top: 100px;
}
